In [1]:
import pandas as pd
import numpy as np
from rapidfuzz import process, fuzz

## Dealing with "batting_performances.csv" file

In [2]:
batting = pd.read_csv("CSVs/batting_performances_matchwise.csv")

In [3]:
batting.head()

             Name  Runs  Balls Faced  Fours  Sixes  Strike Rate
0     Virat Kohli    21           20      0      1       105.00
1  Faf du Plessis    35           23      8      0       152.17
2   Rajat Patidar     0            3      0      0         0.00
3   Glenn Maxwell     0            1      0      0         0.00
4   Cameron Green    18           22      1      0        81.81

#### Grouping by Names and adding Runs, Balls Faced, Fours, Sixes and Strike Rate

In [4]:
batting_summary = (
    batting.groupby('Name').agg(
          Total_Runs       = ('Runs', 'sum'),
          Batting_Average  = ('Runs', 'mean'),
          Balls_Faced      = ('Balls Faced', 'sum'),
          Fours            = ('Fours', 'sum'),
          Sixes            = ('Sixes', 'sum'),
          Strike_Rate      = ('Strike Rate', 'mean')
      ).reset_index()
)

In [5]:
batting_summary

,Name,Total_Runs,Batting_Average,Balls_Faced,Fours,Sixes,Strike_Rate
0,Abdul Samad,182,15.166667,108,15,11,150.197500
1,Abhinav Manohar,9,4.500000,16,1,0,53.570000
2,Abhishek Sharma,484,30.250000,237,36,42,189.463125
3,Abishek Porel,327,27.250000,205,36,13,147.810000
4,Aiden Markram,220,20.000000,177,18,4,98.717273
...,...,...,...,...,...,...,...
165,Washington Sundar,0,0.000000,1,0,0,0.000000
166,Will Jacks,230,28.750000,131,16,18,142.110000
167,Wriddhiman Saha,136,15.111111,115,18,3,106.727778
168,Yashasvi Jaiswal,435,29.000000,279,54,16,143.548000
169,Yudhvir Singh,21,10.500000,14,1,2,150.000000

In [6]:
batting_summary = batting_summary.reset_index()
batting_summary.columns = ['Index', 'Name', 'Runs', 'Batting Average', 'Balls Faced', 'Fours', 'Sixes', 'Strike Rate']
batting_summary.to_csv('CSVs/overall_batting_performances.csv', index=False)

A new CSV file 'overall_batting_performances.csv' has been created where collective data of Runs, Balls Faced, Fours, Sixes and Strike Rate, grouped my Name is stored.

## Dealing with 'overall_batting_performances.csv' file

In [7]:
overall_batting = pd.read_csv('CSVs/overall_batting_performances.csv')

In [8]:
overall_batting.head()

,Index,Name,Runs,Batting Average,Balls Faced,Fours,Sixes,Strike Rate
0,0,Abdul Samad,182,15.166667,108,15,11,150.197500
1,1,Abhinav Manohar,9,4.500000,16,1,0,53.570000
2,2,Abhishek Sharma,484,30.250000,237,36,42,189.463125
3,3,Abishek Porel,327,27.250000,205,36,13,147.810000
4,4,Aiden Markram,220,20.000000,177,18,4,98.717273

#### Dropping the Index column

In [9]:
overall_batting.drop('Index', axis=1, inplace=True)

In [10]:
overall_batting.to_csv('CSVs/overall_batting_performances.csv', index=False)

In [11]:
overall_batting.head()

,Name,Runs,Batting Average,Balls Faced,Fours,Sixes,Strike Rate
0,Abdul Samad,182,15.166667,108,15,11,150.197500
1,Abhinav Manohar,9,4.500000,16,1,0,53.570000
2,Abhishek Sharma,484,30.250000,237,36,42,189.463125
3,Abishek Porel,327,27.250000,205,36,13,147.810000
4,Aiden Markram,220,20.000000,177,18,4,98.717273

#### Rounding off the floating values of 'Batting Average' and 'Strike Rate' by 2

In [12]:
overall_batting['Batting Average'] = overall_batting['Batting Average'].round(2)
overall_batting['Strike Rate'] = overall_batting['Strike Rate'].round(2)

In [13]:
overall_batting.head()

,Name,Runs,Batting Average,Balls Faced,Fours,Sixes,Strike Rate
0,Abdul Samad,182,15.17,108,15,11,150.20
1,Abhinav Manohar,9,4.50,16,1,0,53.57
2,Abhishek Sharma,484,30.25,237,36,42,189.46
3,Abishek Porel,327,27.25,205,36,13,147.81
4,Aiden Markram,220,20.00,177,18,4,98.72

In [14]:
overall_batting.to_csv('CSVs/overall_batting_performances.csv', index=False)

#### Adding a new column named 'Boundary Percentage'

In [15]:
overall_batting['Boundary Percentage'] = (((overall_batting['Fours'] * 4) + (overall_batting['Sixes'] * 6)) / overall_batting['Runs']) * 100

overall_batting['Boundary Percentage'] = overall_batting['Boundary Percentage'].round(2)

In [16]:
overall_batting.head()

,Name,Runs,Batting Average,Balls Faced,Fours,Sixes,Strike Rate,Boundary Percentage
0,Abdul Samad,182,15.17,108,15,11,150.20,69.23
1,Abhinav Manohar,9,4.50,16,1,0,53.57,44.44
2,Abhishek Sharma,484,30.25,237,36,42,189.46,81.82
3,Abishek Porel,327,27.25,205,36,13,147.81,67.89
4,Aiden Markram,220,20.00,177,18,4,98.72,43.64

In [17]:
overall_batting.to_csv('CSVs/overall_batting_performances.csv', index=False)

## Dealing with 'bowling_performances_matchwise.csv' file

In [18]:
bowling = pd.read_csv('CSVs/bowling_performances_matchwise.csv')

In [19]:
bowling.head()

,Name,Overs,Maidens,Runs,Wickets,Economy,Dots,Fours,Sixes,Wides,No Balls
0,Deepak Chahar,4.0,0,37,1,9.25,10,7,0,2,0
1,Tushar Deshpande,4.0,0,47,0,11.75,10,4,3,5,0
2,Maheesh Theekshana,4.0,0,36,0,9.00,4,1,2,0,0
3,Mustafizur Rahman,4.0,0,29,4,7.25,12,3,1,2,0
4,Ravindra Jadeja,4.0,0,21,0,5.25,8,1,0,0,0

#### Grouping by Names and adding Overs, Maidens, Runs, Wickets, Economy, Dots, Fours, Sixes, Wides and No Balls

In [20]:
bowling_summary = (
    bowling.groupby('Name').agg(
          Overs = ('Overs', 'sum'),
          Maidens = ('Maidens', 'sum'),
          Runs = ('Runs', 'sum'),
          Wickets = ('Wickets', 'sum'),
          Economy = ('Economy', 'mean'),
          Dots = ('Dots', 'sum'),
          Fours = ('Fours', 'sum'),
          Sixes = ('Sixes', 'sum'),
          Wides = ('Wides', 'sum'),
          No_Balls = ('No Balls', 'sum')
      )
)

In [21]:
bowling_summary = bowling_summary.reset_index()
bowling_summary.columns = ['Name', 'Overs', 'Maidens', 'Runs', 'Wickets', 'Economy', 'Dots', 'Fours', 'Sixes', 'Wides', 'No Balls']
bowling_summary.to_csv('CSVs/overall_bowling_performances.csv', index=False)

A new CSV file 'overall_bowling_performances.csv' has been created where collective data of Overs, Maidens, Runs, Wickets, Economy, Dots, Fours, Sixes, Wides, No Balls, grouped my Name is stored.

## Dealing with 'overall_bowling_performances.csv' file

In [22]:
overall_bowling = pd.read_csv('CSVs/overall_bowling_performances.csv')

In [23]:
overall_bowling.head()

,Name,Overs,Maidens,Runs,Wickets,Economy,Dots,Fours,Sixes,Wides,No Balls
0,Abhishek Sharma,7.0,0,51,2,8.250000,12,6,0,0,0
1,Aiden Markram,2.0,0,15,0,7.500000,4,0,1,0,1
2,Akash Deep,3.3,0,55,1,15.710000,6,2,6,2,0
3,Akash Madhwal,18.1,0,205,5,11.470000,36,23,9,8,2
4,Alzarri Joseph,9.4,0,115,1,12.703333,18,7,8,6,0

#### Rounding off the floating values of 'Economy' by 2

In [24]:
overall_bowling['Economy'] = overall_bowling['Economy'].round(2)

In [25]:
overall_bowling.head()

,Name,Overs,Maidens,Runs,Wickets,Economy,Dots,Fours,Sixes,Wides,No Balls
0,Abhishek Sharma,7.0,0,51,2,8.25,12,6,0,0,0
1,Aiden Markram,2.0,0,15,0,7.50,4,0,1,0,1
2,Akash Deep,3.3,0,55,1,15.71,6,2,6,2,0
3,Akash Madhwal,18.1,0,205,5,11.47,36,23,9,8,2
4,Alzarri Joseph,9.4,0,115,1,12.70,18,7,8,6,0

In [26]:
overall_bowling.to_csv('CSVs/overall_bowling_performances.csv', index=False)

#### The 'Overs' column is not efficient enough. So it is replaced by 'Balls Bowled'.

In [27]:
overs = overall_bowling['Overs']
full_overs = np.floor(overs).astype(int)
extra_balls = ((overs - full_overs) * 10).astype(int)
total_balls = (full_overs * 6) + extra_balls

name_index = overall_bowling.columns.get_loc('Name')
overall_bowling.insert(name_index + 1, 'Balls Bowled', total_balls)

In [28]:
overall_bowling.drop('Overs', axis=1, inplace=True)

In [29]:
overall_bowling.head()

,Name,Balls Bowled,Maidens,Runs,Wickets,Economy,Dots,Fours,Sixes,Wides,No Balls
0,Abhishek Sharma,42,0,51,2,8.25,12,6,0,0,0
1,Aiden Markram,12,0,15,0,7.50,4,0,1,0,1
2,Akash Deep,20,0,55,1,15.71,6,2,6,2,0
3,Akash Madhwal,109,0,205,5,11.47,36,23,9,8,2
4,Alzarri Joseph,58,0,115,1,12.70,18,7,8,6,0

In [30]:
overall_bowling.to_csv('CSVs/overall_bowling_performances.csv', index=False)

#### Editing the 'Dots' column and making it 'Dots Percentage' as it is more efficient

In [31]:
dots_percentage = (overall_bowling['Dots'] / overall_bowling['Balls Bowled']) * 100
dots_index = overall_bowling.columns.get_loc('Dots')
overall_bowling.insert(dots_index + 1, 'Dot Ball Percentage', dots_percentage.round(2))

In [32]:
overall_bowling.drop('Dots', axis=1, inplace=True)

In [33]:
overall_bowling.head()

,Name,Balls Bowled,Maidens,Runs,Wickets,Economy,Dot Ball Percentage,Fours,Sixes,Wides,No Balls
0,Abhishek Sharma,42,0,51,2,8.25,28.57,6,0,0,0
1,Aiden Markram,12,0,15,0,7.50,33.33,0,1,0,1
2,Akash Deep,20,0,55,1,15.71,30.00,2,6,2,0
3,Akash Madhwal,109,0,205,5,11.47,33.03,23,9,8,2
4,Alzarri Joseph,58,0,115,1,12.70,31.03,7,8,6,0

In [34]:
overall_bowling.to_csv('CSVs/overall_bowling_performances.csv', index=False)

#### Wides and No Balls are nothing but extra runs. So 'Extras' column is added in place of 'Wides' and 'No Balls'

In [35]:
overall_bowling['Extras'] = overall_bowling['Wides'] + overall_bowling['No Balls']

In [36]:
overall_bowling.drop(['Wides', 'No Balls'], axis=1, inplace=True)

In [37]:
overall_bowling.head()

,Name,Balls Bowled,Maidens,Runs,Wickets,Economy,Dot Ball Percentage,Fours,Sixes,Extras
0,Abhishek Sharma,42,0,51,2,8.25,28.57,6,0,0
1,Aiden Markram,12,0,15,0,7.50,33.33,0,1,1
2,Akash Deep,20,0,55,1,15.71,30.00,2,6,2
3,Akash Madhwal,109,0,205,5,11.47,33.03,23,9,10
4,Alzarri Joseph,58,0,115,1,12.70,31.03,7,8,6

In [38]:
overall_bowling.to_csv('CSVs/overall_bowling_performances.csv', index=False)

#### Adding two more efficient metrics 'Bowling Average' and 'Bowling Strike Rate'

In [39]:
economy_index = overall_bowling.columns.get_loc('Economy')
bowling_avg = np.where(overall_bowling['Wickets'] == 0, 0, overall_bowling['Runs'] / overall_bowling['Wickets'])

overall_bowling.insert(economy_index+1, 'Bowling Average', bowling_avg.round(2))

In [40]:
avg_index = overall_bowling.columns.get_loc('Bowling Average')
bowling_sr = np.where(overall_bowling['Wickets'] == 0, 0, overall_bowling['Balls Bowled'] / overall_bowling['Wickets'])

overall_bowling.insert(avg_index+1, 'Bowling Strike Rate', bowling_sr.round(2))

In [41]:
overall_bowling.head()

,Name,Balls Bowled,Maidens,Runs,Wickets,Economy,Bowling Average,Bowling Strike Rate,Dot Ball Percentage,Fours,Sixes,Extras
0,Abhishek Sharma,42,0,51,2,8.25,25.5,21.0,28.57,6,0,0
1,Aiden Markram,12,0,15,0,7.50,0.0,0.0,33.33,0,1,1
2,Akash Deep,20,0,55,1,15.71,55.0,20.0,30.00,2,6,2
3,Akash Madhwal,109,0,205,5,11.47,41.0,21.8,33.03,23,9,10
4,Alzarri Joseph,58,0,115,1,12.70,115.0,58.0,31.03,7,8,6

In [42]:
overall_bowling.to_csv('CSVs/overall_bowling_performances.csv', index=False)

## Dealing with 'player_details.csv' file

In [43]:
players = pd.read_csv('CSVs/player_details.csv')

In [44]:
players.head()

,Name,Batting Style,Bowling Style,Playing Role,Image Link,Name_F
0,Mustafizur Rahman,Left hand Bat,Left arm Fast medium,Bowler,https://img1.hscicdn.com/image/upload/f_auto/l...,Mustafizur Rahman
1,Virat Kohli,Right hand Bat,Right arm Medium,Top order Batter,https://img1.hscicdn.com/image/upload/f_auto/l...,Virat Kohli
2,Francois du Plessis,Right hand Bat,Legbreak,Middle order Batter,https://img1.hscicdn.com/image/upload/f_auto/l...,Faf du Plessis
3,Rajat Manohar Patidar,Right hand Bat,Right arm Offbreak,Top order Batter,https://img1.hscicdn.com/image/upload/f_auto/l...,Rajat Patidar
4,Glenn James Maxwell,Right hand Bat,Right arm Offbreak,Batting Allrounder,https://img1.hscicdn.com/image/upload/f_auto/l...,Glenn Maxwell

In [45]:
players.drop_duplicates(inplace=True)

In [46]:
players.dropna(inplace=True)

In [47]:
players.to_csv('CSVs/player_details.csv', index=False)

All duplicate and NaN values are removed (if any)

In [48]:
# def fuzzy_match_name(name, name_list, threshold=40):
#     match = process.extractOne(name, name_list, scorer=fuzz.token_sort_ratio)
#     if match and match[1] >= threshold:
#         return match[0]
#     return name

# # Apply fuzzy matching to all names in details_df
# players["Name_F"] = players["Name"].apply(lambda name: fuzzy_match_name(name, list(list(overall_batting["Name"].unique()) + list(overall_bowling["Name"].unique()))))

In [49]:
players[players["Name_F"].duplicated(keep=False)]

Empty DataFrame
Columns: [Name, Batting Style, Bowling Style, Playing Role, Image Link, Name_F]
Index: []

In [50]:
# players.to_csv('CSVs/player_details.csv', index=False)

In [51]:
players["Name"] = players["Name_F"]

In [53]:
players.drop("Name_F", axis=1, inplace=True)

In [54]:
players.to_csv('CSVs/player_details.csv', index=False)